// // // // // // // // // // // // // // //

.section {
    max-width: 730px;
    margin: 0 auto;
}

.box {
    display: block;
}

.box_with_replies {
    padding-left: 18px;
    position: relative;

    &::after {
        content: '';

        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        width: 2px;
        height: 100%;
        background-color: var(--color-light-gray);

        @media only screen and (min-width: 768px) {
            left: 43px;
        }
    }

    @media only screen and (min-width: 768px) {
        padding-left: 88px;
    }
}

// // // // // // // // // // // // // // //

.comment_wrapper {
    max-width: 100%;
    min-height: 148px;
    margin: 0 auto 16px auto;
    padding: 16px;

    background-color: var(--color-white);
    border-radius: 8px;

    display: grid;
    grid-template-rows: 32px 1fr 40px;
    grid-template-columns: 100%;
    row-gap: 16px;

    @media only screen and (min-width: 768px) {
        padding: 24px;
        margin-bottom: 20px;

        grid-template-columns: 40px;
        grid-template-rows: 32px 1fr;
        column-gap: 24px;
        row-gap: 15px;
    }
}

// // // // // // // // // // // // // // //

.profile {
    display: flex;
    align-items: center;
    gap: 16px;

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @media only screen and (min-width: 768px) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

.picture {
    width: 32px;
    height: 32px;
}

.name {
    color: var(--color-dark-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
}

.you {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 19px;

    margin-left: 8px;
    border-radius: 2px;
    background-color: var(--color-moderate-blue);

    color: var(--color-white);
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

.date {
    color: var(--color-gray-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

// // // // // // // // // // // // // // //

.content {
    color: var(--color-gray-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    grid-row: 2 / 3;
    grid-column: 1 / 2;

    @media only screen and (min-width: 768px) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

// // // // // // // // // // // // // // //

.rating {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-very-light-gray);

    grid-row: 3 / 4;
    grid-column: 1 / 2;

    @media only screen and (min-width: 768px) {
        width: 40px;
        height: 100px;

        flex-direction: column;

        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

.rating_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        width: 100%;
        height: 40%;
    }

    &:first-child {
        margin-right: auto;
    }

    &:last-child {
        margin-left: auto;
    }

    path {
        transition: fill 0.1s;
    }

    &:hover path {
        fill: var(--color-moderate-blue);
    }
}

.rating_score {
    color: var(--color-moderate-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

// // // // // // // // // // // // // // //

.btnsWrapper {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 16px;

    @media only screen and (min-width: 768px) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        gap: 24px;
    }
}

.delete {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover path {
        fill: var(--color-pale-red);
    }

    &:hover span {
        color: var(--color-pale-red);
    }

    svg {
        margin-right: 8px;
    }

    path {
        transition: fill 0.1s;
    }

    span {
        color: var(--color-soft-red);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        transition: color 0.1s;
    }
}

.reply_edit {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:hover span {
        color: var(--color-light-gray-blue);
    }

    &:hover path {
        fill: var(--color-light-gray-blue);
    }

    svg {
        margin-right: 8px;
    }

    path {
        transition: fill 0.1s;
    }

    span {
        color: var(--color-moderate-blue);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        transition: color 0.1s;
    }
}

// // // // // // // // // // // // // // //
